@import"./common/all.css";
@import"./common/header.css";
@import"./common/footer.css";


body{
    background-color: #e4e3e287;
}

.bn{
    width: 100%;
    margin: 0 auto;
    display: block;
    /* border: 1px solid red; */
    text-align: center;
    /* margin-top: 80px;    */
    z-index: 2;
    background-image: url("../images/teacher/teacherbn_05.jpg");
    /* background-image: url("../images/teacher/teacherbn_02.jpg"); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}



.bn_child{
    max-width: 1200px;
    margin: 0 auto;
    width: 95%;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 60px;

}
.bn_text{
    /* border: 1px solid black; */
    padding-top: 10px;

}
.bn_text h1{
    text-align: center;
    color: #00a9b8;
}

.bn_pic{
    display: block;
    width: 100%;
    text-align: center;
}
.bn_pic img{
    /* border: 1px solid black; */
    width: 100%;
}



/* --------main-------- */
.main{
    /* border: 1px solid black; */
    display: block;
    width: 1200px;
    width: 100%;
    margin:0px auto;
    background-color: white;
}

section{
    /* border: 1px solid black; */
    margin: 100px auto;
    display: block;
    text-align: center;
    /* max-width: 1200px; */
    width: 100%;


}

/* --------麵包屑-------- */

.breadcrumb{
    padding: 5px 10px;
    max-width: 1200px;
    width: 95%;
    margin: 20px auto;
}
.breadcrumb .breadcrumb_list{
    margin: 0;
    padding: 0;
    list-style: none;
}
.breadcrumb .breadcrumb_list > li{
    display: inline-block;
    margin-right: 10px;
}
  
.breadcrumb .breadcrumb_list > li::before{
    content: "/";
    font-size: 18px;
    color: #aaa;
    margin-right: 12px;
}

.breadcrumb .breadcrumb_list > li:first-child::before{
    content: "";
    margin-right: 0;
}
  
  
.breadcrumb .breadcrumb_list > li > a{
    text-decoration: none;
    display: inline-block;
    color: #003338;
    font-size: 18px;

}
  
.breadcrumb .breadcrumb_list > li > a:hover{
    color: #00a9b8;
}


/* ========老師介紹  高中======== */
.teacher{
    padding: 0 2%;
    text-align: center;
}
.teacher_B{
    display: none;

}

.teacher_tab{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    /* border: 1px solid blue; */
    text-align: center;

}

.tab_list_block {
    /* border: 1px solid blue; */
    padding-left: 0;
    text-align: left;
}

/* 頁籤列表 */
ul.tab_list{
    /* border-radius: 50%; */
    /* background-color: #00a9b8; */
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 10px 10px 0 10px;
}

ul.tab_list > li{
    display: inline-block;
    /* background-color: #00a9b8; */
    padding: 0px 10px;


}
ul.tab_list > li > a{
    text-decoration: none;
    display: inline-block;
    border: 1px solid #ccc;
    /* border-bottom: 1px solid #ccc; */
    padding: 10px 20px;
    border-radius: 5px;
    margin: 0 5px;
    cursor: pointer;
    color: #ccc;
    font-size: 20px;
    position: relative;
    text-align: center;
    top: 1px; 
}

ul.tab_list > li > a.-on{
    border: 1px solid #00a9b8;
    background-color: #00a9b8;
    color: white;
}

ul.tab_list > li > a.Ju.-on{
    border: 1px solid #f0ad78;
    background-color: #f0ad78;
    color: white;
}


/* 頁籤內容區塊 */
.tab_contents{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    /* border: 1px solid #00a9b8; */

}
.tab_contents .tab{
    display: none;
    text-align: left;
    width: 100%;

  }
.tab_contents .tab.-on{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    /* border: 1px solid #00a9b8; */
    width: 100%;
  }
.tab1{

}
.tab2{
    /* border: 2px solid #f0ad78; */


}

/* ========老師照片 內文========= */
a.teacherCourse {
    display: inline-flex;
    background-color: #a0d7dc;
    margin: 10px;
    border-radius: 5px;
    padding-top: 30px;
    width: 20%;
    height: auto;
    /* min-width: 200px; */
    position: relative;
    overflow: hidden;
}

a.teacherCourse > span{
    display: inline-block;
    /* background-color: rgba(7, 56, 71, 0.5); */
    color: white;
    position: absolute;
    top: 0px;
    left: 0;
    padding: 5px;
    border-radius: 0 5px 5px 0;
    font-size: 16px;
}

.course1{
    background-color: rgba(15, 133, 235, 0.5);
}

.course2{
    background-color: rgba(54, 213, 184, 0.5);
}
.course3{
    background-color: rgba(226, 150, 241, 0.5);
}
.course4{
    background-color: rgba(225, 140, 115, 0.653);
}


a.teacherCourse > img{
    width: 100%;
    display: block;
    transform:scale(1,1);
    transition: all 1s ease-out;
}
a.teacherCourse.juer{
    background-color: #f9c6a0;
}
a.teacherCourse.juer img{
    transform:scale(1,1);
    transition: all 1s ease-out;
}
a.teacherCourse > img:hover{
    transform:scale(1.2,1.2);
}

.pic.text{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: hsla(0, 0%, 0%, .5);
    font-size: 20px;
    padding: 5px 0;
    text-align: center;
    color: white;
    padding: 5px 10px;
    transform: translateY(100%);
    transition: transform .5s; 
}

a.teacherCourse:hover .pic.text{
    transform: translateY(0%);
}

/* ======老師縮小第二版====== */





/* =====學員推薦===== */

.studentad h2{
    border-right: 3px solid #f0ad78;
    border-left: 3px solid #f0ad78;
    width: 20%;
    margin: 20px  auto;
    min-width: 200px;

}

.stud_block{
    border: 4px double #00a9b8;
    border-radius: 5px;
    display: inline-flex;
    width: 27%;
    max-width: 310px;
    min-width: 300px;
    margin: 10px 10px;
    padding: 5px;
    /* border: 1px solid red; */
}
.stud_block img{
    width: 100px;
    border-radius: 5px;
}
.studtext{
    /* border: 1px solid red; */
    display: block;
    margin: 0 5px;
    text-align: left;
    width: 70%;
}
.studtext h3{
    color: #989d9d;
    font-size: 20px;
}
.studtext h5{
    color: #989d9d;
    margin: 10px 0;
}

.studtext_freecourse{
    margin: 10px auto 0 auto;
    position: relative;
}
.studtext_freecourse p{
    text-align: left;
    font-size: 14px;
    width: 155px;
    line-height: 20px;
}
.studtext_freecourse p:hover{
    text-decoration: underline;
}


.studtext_freecourse >a:last-child{
    font-size: 16px;
    color: #00a9b8;
    text-align: left;
    display: block;
    margin-top: 10px;
}

.studtext_freecourse::before{
    content: "";
    display: inline-block;
    position: absolute;
    left: 100px;
    bottom: 4px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px 0 5px 9px;
    border-color: transparent transparent transparent #f0ad78;
}

.studtext_freecourse >a:last-child:hover{
    color: #f0ad78;
}





/* ======最新開課資訊====== */

.newCourse h2{
    border-right: 3px solid #f0ad78;
    border-left: 3px solid #f0ad78;
    width: 20%;
    min-width: 200px;
    margin: 20px  auto;
}

.blocks.course{
    /* border: 1px solid blue; */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    padding: 10px 0 ;
}


.news_pg{
    max-width: 200px;
    width: 25%;
    /* border: 1px solid red; */
    border-radius: 5px;
    overflow: hidden;
    margin: 0 10px;
}

.news_pg >a{
    display: flex;
    flex-direction: row; 
    width: 100%;
}
.news_pg a img{
    width: 100%;
}
.news_pg_B{
    display: flex;
}
.news_pg_B a{
    /* border: 1px solid red; */
    display: inline-flex;
    justify-content: center;
    background-color: #bfe3e7;
    width: 50%;
    padding: 10px 0;
    color: white;
    font-size: 16px;
}

.news_pg_B a:last-child{
    padding: 20px 0;
}

.news_pg_B a:hover{
    color: white;
    background-color: #00a9b8;
}
.news_pg a:last-child{
    background-color: #00a9b8;
}

.news_pg a:last-child h5{
    color: white;

}

/* -----加入我們------- */

.joinus{
    background-image: url("../images/teacher/joinus_02_1200.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-origin: border-box;
    margin-bottom: 50px;
}
.joinus h2, .joinus h4{
    color: rgb(255, 255, 255);
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
}

.joinus_block{
    padding: 20px 0;
    background-color: #8dd5e7c2;
}

/* end */



/* ============RWD============= */


@media screen and (max-width: 1199px)and (min-width: 992px){
    .bn{
        padding-top: 10px;
    }
/* ========老師介紹  高中======= */

    .teacher_tab{
        width: 100%;
    }
    .tab_contents{
        width: 100%;
    }
    .tab{
        width: 100%;
    }



}
@media screen and (max-width: 991px)and (min-width: 768px){
    .bn{
        padding-top: 10px;
    }
    .bn_text h1{
        text-align: center;
        margin: 5px 0 0 0;

    }
/* ========老師介紹  高中======= */

    .teacher_tab{
        width: 100%;
    }
    .tab_contents{
        width: 100%;
    }
    .tab{
        width: 100%;
    }
    
/* ======最新開課資訊====== */

    .news_pg{
        /* width: 200px; */
        width: 23%;
        margin: 5px;
    }
}

@media screen and (max-width: 767px) and (min-width: 576px){

    .bn{
        padding-top: 0px;
    }

    .bn_text h3{
        font-size: 18px;
        left: 55%;
    }

/* ======最新開課資訊====== */

    .news_pg{
        /* width: 200px; */
        width: 23%;
        margin: 5px;
    }
    .news_pg{
        /* width: 200px; */
        width: 40%;
        margin: 5px 10px;
    }
    .news_pg_B >a:first-child{
        display: none;
    }
    .news_pg_B >a:last-child{
        width: 100%;
        padding: 5px;
    }

/* ========老師介紹  高中======= */

    .teacher_tab{
        width: 100%;
    }
    .tab_contents{
        width: 100%;
    }
    .tab{
        width: 100%;
    }


/* ======加入我們====== */

    .joinus{
        background-image: url("../images/teacher/joinus_01_500.jpg");
    }
    .joinus h2, .joinus h4{
        margin: 0px auto;
    }
    .joinus h2{
        margin-bottom: 5px;
    }

}


@media screen and (max-width: 575px){

    section{
        margin: 10px 0;
    }


/* --------麵包屑-------- */

    .breadcrumb{
        margin: 10px auto;
        padding: 2px 5px;


    }
    .breadcrumb .breadcrumb_list > li::before{
        content: "/";
        font-size: 14px;
    }
    .breadcrumb .breadcrumb_list > li > a{
        font-size: 14px;

    }

/* ========老師介紹  高中======= */

    .teacher_B{
        display: block;
        padding: 0;
    }
    .teacher_tab{
        display: none;
    }

    .teacher_tab_B{
        display: block;
        width: 100%;
    }

    .teacher_tab B{
        display: none;
    }
    
    .tab_list_block{
        width: 100%;
        margin: 20px auto;
        padding: 0;
    }
    .tab_list_block h2{
        text-align: left;
        padding: 5px 20px;
        background: #e4e3e287;
        border-left: solid 10px #00a9b8;  
    }
    
    .tab{
        padding: 0px;
        text-align: center;
    }
    
/* =====老師照片 內文===== */
    .tab{
        width: 95%;
        margin: 0 auto;
    }
    a.teacherCourse {
        width: 48%;
        height: 48%;
        padding-top: 10px;
        margin: 0 2px;
        background-color: transparent;
        
    }
    a.teacherCourse > img{
        width: 100%;
        height: 80%;
        margin: 0 ;
        padding: 0;
        text-align: center;
        background-color: #bfe3e7;
        
    }
    a.teacherCourse > span{
        top: 10px;
    }
    .pic.text{
        transform:none
    }

/* =====學員推薦===== */

    .stud_block{
        width: 80%; 
        margin: 10px;
    }

    .studentad h2{
        margin: 0;
        width: 100%;
        text-align: left;
        padding: 5px 20px;
        background: #e4e3e287;
        border: 0;
        border-left: solid 10px #00a9b8; 
    }

    .studtext h3 {
        font-size: 18px;
        text-align: center;
        margin-bottom: 10px;
        

    }



/* ======最新開課資訊====== */

    .newCourse h2{
        margin: 0;
        width: 100%;
        text-align: left;
        padding: 5px 20px;
        background: #e4e3e287;
        border: 0;
        border-left: solid 10px #00a9b8; 
    }

    .news_pg{
        /* width: 200px; */
        width: 40%;
        margin: 5px 10px;
    }
    .news_pg_B >a:first-child{
        display: none;
    }
    .news_pg_B >a:last-child{
        width: 100%;
        padding: 5px;
    }

/* -----加入我們------- */

    .joinus h4{
        margin: 0px auto;
    }
    .joinus h2{
        margin: 10px auto;
    }
    .joinus_block{
        padding: 10px 0;
        margin: 0px auto;
    }
    .bt.join a button{
        margin-bottom: 10px;
    }
}

